{{>base_header title=title css='/css/error.css'}}
<div class='container text-center error'>
	<h1>{{message}}<br><a href="/">Back to home</a></h1>
</div>
{{>base_scripts}}
{{>base_footer error=error}}
