<form action='/login', method='post'>
    <h1 class='h3 mb-3 font-weight-normal'>Login</h1>
    <input type='text' class='form-control' id='username' name='username' aria-describedby="usernameHelp" placeholder='Username' autofocus>
    <input type='password' class='form-control' id='password' name='password' placeholder='Password'>
    <button type='submit' class='btn btn-lg btn-primary btn-block'>Sign in</button>
    <p class='mt-4'>
        <a class='text-muted' href='/register'>Don't have an account? Register!</a>
    </p>
</form>
