{{>base_header title='Welcome!'}}
<div class='container text-center'>
	<a href='/login'>Login</a>
	<a href='/register'>Register</a>
	<a href='/logout'>Logout</a>
</div>
{{>base_scripts}}
{{>base_footer error=error}}
